<div class="headerdiv">
    <h2>Add Case Details</h2>
</div>

<div class="container">
    <form class="example-form" [formGroup]="addCaseDetails" (ngSubmit)="caseDetailsSave()">
        
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="taxpayername">
                    </mat-form-field>
                </td>
                
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>NID</mat-label>
                        <input matInput formControlName="nidno">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>BIN</mat-label>
                        <input matInput formControlName="bin">
                    </mat-form-field>
                </td>
                
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>RJSC</mat-label>
                        <input matInput formControlName="rjsc">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>No of Tin</mat-label>
                        <mat-select matNativeControl required formControlName="tinmultiple" (selectionChange)="tinselection($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option  [value]="0">Single</mat-option>   
                            <mat-option  [value]="1">Multiple</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
                <td *ngIf="!multitin && dirty">
                    <mat-form-field class="example-full-width" >
                        <mat-label>TIN</mat-label>
                        <input matInput formControlName="tinno">
                    </mat-form-field>
                </td>
                <td *ngIf="multitin && dirty" style="width: 100%;">
                    <app-button
                    [label]="buttonLabel"
                    [color]="buttonColor" 
                    [type]="buttonType"
                    (click)="addAnother()"
                    >
                </app-button>
                </td>

            </tr>
            <ng-container formArrayName="tinnos">
                <ng-container *ngFor="let tinForms of tinnos.controls; let index = index;"  >

                    <div [formGroupName]="index">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <mat-label>TIN</mat-label>
                                    <input matInput formControlName="tin">
                                </mat-form-field>
                            </td>
                            
                            <td>
                                <mat-form-field class="example-semi-full-width">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>
                                <mat-icon class="delete-btn example-small-width" (click)="deleteTin(index)" style="height:75px;">
                                    delete_forever
                                </mat-icon>
                            </td>
                        </tr>
                   
                    </div>
                </ng-container>
            </ng-container>   

            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>File Initiation Date</mat-label>
                    <input matInput  formControlName="fileinitdate"  [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Report Sending</mat-label>
                    <input matInput  formControlName="dateofreportsend" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Receiving Completion Date</mat-label>
                    <input matInput  formControlName="dateofcompletion"  [matDatepicker]="picker3">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of File Sending Back</mat-label>
                    <input matInput  formControlName="dateofsendback" [matDatepicker]="picker4">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Enlistment</mat-label>
                    <input matInput  formControlName="fileenlisted"  [matDatepicker]="picker5">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Bank Search Date Exists</mat-label>
                        <mat-select matNativeControl required formControlName="banksearchboolean" (selectionChange)="bankSearch($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option  [value]="true">True</mat-option>   
                            <mat-option  [value]="false">False</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngIf="showBanks">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Bank Search</mat-label>
                    <input matInput  formControlName="banksearchdate"  [matDatepicker]="picker6">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Bank Freeze</mat-label>
                    <input matInput  formControlName="bankfreezedata" [matDatepicker]="picker7">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker7"></mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>IO</mat-label>
                    <input matInput  formControlName="io" type="text"  placeholder="IO">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Court Issue</mat-label>
                        <mat-select matNativeControl required formControlName="courtissue">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option  [value]="true">True</mat-option>   
                            <mat-option  [value]="false">False</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput  formControlName="comment" type="text"  placeholder="IO">
                    </mat-form-field>
                </td>
            </tr>
            <tr class="example-full-width">
                <td>
                    <app-button
                    [label]="buttonLabel2"
                    [color]="buttonColor" 
                    [type]="buttonType"
                    (click)="caseDetailsSave()"
                    >
                </app-button>
                </td>
            </tr>      
          
        </table>    
    </form>
</div>