.example-form {
 
    width: 80%;
    margin-left: 10%;
    float: left;
    margin-top: 30px;
}
h3{
  text-align: center;
}

.example-full-width {
  width: 80%;
  margin-left: 10%;
}
.example-semi-full-width{
  width:82%;
}
.example-small-width{
  width: 18%;
  padding: 5%;
    float: right;
}

td {
  padding-right: 8px;
  width: 100%;
  display: block;
  float: left;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

tr{
  clear: left;
  width: 70%;
  margin-left: 15%;
}