<div class="headerdiv">
    <h2>Add Case Details</h2>
</div>

<div class="container">

    <form class="example-form" [formGroup]="addCaseDetails" (ngSubmit)="caseDetailsSave()">
        
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="taxpayername">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>File No</mat-label>
                    <input matInput  formControlName="fileno" type="text"  placeholder="File No">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>TIN</mat-label>
                        <input matInput formControlName="tinno">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <p style="text-align: center;">*Related file Tin if needed</p>
                <td>
                    <app-button style="padding-left: 50%;"
                        [label]="buttonLabel"
                        [color]="buttonColor" 
                        [type]="buttonType"
                        (click)="addAnother()"
                        >
                    </app-button>

                      
                    <ng-container formArrayName="tinnos">
                        <ng-container *ngFor="let tinForms of tinnos.controls; let index = index;"  >
                            <div class="container">
                                <div [formGroupName]="index" class="tinform">
                                    <div class="row" style="margin-left: 10%;">
                                        <div class="col" style="width: 45%;">
                                            <mat-form-field >
                                                <mat-label>TIN</mat-label>
                                                <input matInput formControlName="tin">
                                            </mat-form-field>
                                        </div>
                                        <div class="col" style="width: 45%;">
                                            <mat-form-field >
                                                <mat-label>Name</mat-label>
                                                <input matInput formControlName="name">
                                            </mat-form-field>
                                        </div>
                                        <div class="col" style="width: 10%;">
                                            <mat-icon class="delete-btn example-small-width" (click)="deleteTin(index)" style="height:75px;">
                                                delete_forever
                                            </mat-icon>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>

                       
                        </ng-container>
                    </ng-container> 
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>IO</mat-label>
                    <input matInput  formControlName="io" type="text"  placeholder="IO">
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <p style="text-align: center;">*Add Previous History if needed</p>
                <td>
                    <app-button style="padding-left: 50%;"
                        [label]="buttonLabel"
                        [color]="buttonColor" 
                        [type]="buttonType"
                        (click)="addAnotherio()"
                        >
                    </app-button>

                      
                    <ng-container formArrayName="ios">
                        <ng-container *ngFor="let ioForms of ios.controls; let index = index;"  >
                            <div class="container">
                                <div [formGroupName]="index" class="tinform">
                                    <div class="row" style="margin-left: 10%;">
                                        <div class="col" style="width: 45%;">
                                            <mat-form-field >
                                                <mat-label>Name</mat-label>
                                                <input matInput formControlName="name">
                                            </mat-form-field>
                                        </div>
                                        <div class="col" style="width: 45%;">
                                            <mat-form-field >
                                                <mat-label>Date</mat-label>
                                                <input matInput formControlName="date" type="date">
                                            </mat-form-field>
                                        </div>
                                        <div class="col" style="width: 10%;">
                                            <mat-icon class="delete-btn example-small-width" (click)="deleteTin(index)" style="height:75px;">
                                                delete_forever
                                            </mat-icon>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>

                       
                        </ng-container>
                    </ng-container> 
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>NID</mat-label>
                        <input matInput formControlName="nidno">
                    </mat-form-field>
                </td>
            </tr>
               
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>BIN/ Bill of Entry</mat-label>
                        <input matInput formControlName="bin">
                    </mat-form-field>
                </td>
            </tr>                
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>RJSC Inc Number</mat-label>
                        <input matInput formControlName="rjsc">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Receiving File from field office</mat-label>
                    <input matInput  formControlName="dateofcompletion"  [matDatepicker]="picker3">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                   <mat-form-field class="example-full-width">
                       <mat-label>File Required?</mat-label>
                       <mat-select matNativeControl required formControlName="filerequiredboolean" (selectionChange)="filerequired($event.value)">
                           <mat-option value="">--Select--</mat-option>
                           <mat-option  value="Yes">Yes</mat-option>   
                           <mat-option  value="No">No</mat-option>   
                       </mat-select>
                   </mat-form-field>
               </td>
           </tr>

           <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Investigation required to be taken</mat-label>
                        <mat-select matNativeControl required formControlName="Investigation" (selectionChange)="investigationDone($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option  value="Yes">Yes</mat-option>   
                            <mat-option  value="No">No</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>

            <tr *ngIf="fileRequired && !investigation">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of file sending back to the field office</mat-label>
                    <input matInput  formControlName="dateofsendbacktofield"  [matDatepicker]="picker9">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker9"></mat-datepicker-toggle>
                    <mat-datepicker #picker9></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>

            <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Any other investigation?</mat-label>
                    <input matInput  formControlName="otherinvestigation" type="text"  placeholder="Other Investigation">
                    </mat-form-field>
                </td>
            </tr>



            <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of authorization and initiation</mat-label>
                    <input matInput  formControlName="fileinitdate"  [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            
            <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Type of File Receive</mat-label>
                        <mat-select matNativeControl required formControlName="filetype">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option  value="IT">IT</mat-option>   
                            <mat-option  value="VAT">VAT</mat-option>   
                            <mat-option  value="CUSTOMS">CUSTOMS</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
                
            <tr *ngIf="fileRequired">
                 <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Select Bank/NBA Search Date</mat-label>
                        <mat-select matNativeControl required formControlName="banksearchboolean" (selectionChange)="bankSearch($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option  value="Yes">Yes</mat-option>   
                            <mat-option  value="No">No</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
               
            <tr *ngIf="showBanks && fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Bank/NBA Search</mat-label>
                    <input matInput  formControlName="banksearchdate"  [matDatepicker]="picker6">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngIf="showBanks && fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Bank/NBA Freeze</mat-label>
                    <input matInput  formControlName="bankfreezedate" [matDatepicker]="picker7">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker7"></mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngIf="showBanks && fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of Bank/NBA Un Freeze</mat-label>
                    <input matInput  formControlName="bankunfreezedate" [matDatepicker]="picker8">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker8"></mat-datepicker-toggle>
                    <mat-datepicker #picker8></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
                
        
            <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Court Issue</mat-label>
                        <mat-select matNativeControl required formControlName="courtissue" (selectionChange)="courtissuecheck($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option  value="Yes">Yes</mat-option>   
                            <mat-option  value="No">No</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>

            <tr *ngIf="fileRequired && courtissue">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Remarks</mat-label>
                    <input matInput  formControlName="courtissueremarks" type="text"  placeholder="Remarks">
                    </mat-form-field>
                </td>
            </tr>

            <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Revenue Collected By CIC</mat-label>
                    <input matInput  formControlName="cicamount" type="text"  placeholder="Amount Received By CIC">
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Revenue Collected By Field Office</mat-label>
                    <input matInput  formControlName="fieldamount" type="text"  placeholder="Amount Received By Field Office">
                    </mat-form-field>
                </td>
            </tr>
            
            <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Case Status</mat-label>
                        <mat-select matNativeControl required formControlName="status">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option  value="Partially Complete">Partially Complete</mat-option>   
                            <mat-option  value="Complete">Complete</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>

            <tr *ngIf="fileRequired">
                <td>
                     <mat-form-field class="example-full-width">
                     <mat-label>Date of Report Sending</mat-label>
                     <input matInput  formControlName="dateofreportsend" [matDatepicker]="picker">
                     <mat-hint>MM/DD/YYYY</mat-hint>
                     <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                     <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
                 </td> 
             </tr>

             <tr *ngIf="fileRequired">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of File Sending Back</mat-label>
                    <input matInput  formControlName="dateofsendback" [matDatepicker]="picker4">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
             
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput  formControlName="comment" type="text"  placeholder="IO">
                    </mat-form-field>
                </td>
            </tr>
            <tr class="example-full-width">
                <td>
                    <app-button
                    [label]="buttonLabel2"
                    [color]="buttonColor" 
                    [type]="buttonType"
                    (click)="caseDetailsSave()"
                    >
                </app-button>
                </td>
            </tr>      
          
        </table>    
    </form>
</div>