

<mat-expansion-panel>

    <mat-expansion-panel-header>
    File Track
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item routerLink="/list-file-tracks">List File Tracks</a>
        <a mat-list-item routerLink="/add-file-tracks">Add File Tracks</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel>

    <mat-expansion-panel-header>
    Case Details
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item routerLink="/list-case-details">List Case Details</a>
        <a mat-list-item routerLink="/add-case-details">Add Case Details</a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel>

    <mat-expansion-panel-header>
    Inventory
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item routerLink="/list-inventory">List Inventory</a>
        <a mat-list-item routerLink="/add-inventory">Add Inventory</a>
    </mat-nav-list>
</mat-expansion-panel>







