<div class="headerdiv">
    <h2>View File Details</h2>
</div>
<app-button 
[label]="buttonLabel"
[color]="buttonColor" 
[type]="buttonType"
(click)="list()">
</app-button>
<div class="container" style="margin-top: 20px;">
    <h3>Name: {{caseDetails.taxpayername}}</h3>
    <p>File No: {{caseDetails.fileno}}</p>
    <p *ngIf="singleTin">TIN: {{caseDetails.tinno}}</p>
    <div *ngIf="!singleTin">
        <p>Tin: {{mainTin}}</p>
        <p>List of Related TINs</p>
        <ul>
            <li *ngFor="let tin of tins">
                <span>{{tin.tinno}}</span>: 
                <span style="margin-left: 10px;">{{tin.name}}</span>
    
            </li>
        </ul>
        
    </div>

    <p *ngIf="singleIo">IO: {{caseDetails.io}}</p>
    <div *ngIf="!singleIo">
        <p>Current IO: {{mainIo}}</p>
        <p>List of Previous IOs</p>
        <ul>
            <li *ngFor="let io of ios">
                <span>{{io.name}}</span>: 
                <span style="margin-left: 10px;">{{io.date | date}}</span>
    
            </li>
        </ul>
        
    </div>
    <p>BIN: {{caseDetails.bin}}</p>
    <p>NID: {{caseDetails.nidno}}</p>
    <p>RJSC: {{caseDetails.rjsc}}</p>
    <p>File Initiation Date: {{caseDetails.fileinitdate | date}}</p>
    <p>Report Sending Date: {{caseDetails.dateofreportsend | date}}</p>
    <p>Date of Receiving File from field office : {{caseDetails.dateofcompletion | date}}</p>
    <p>File Type : {{caseDetails.filetype}}</p>
    <p>Report Sending back date: {{caseDetails.dateofsendback | date}}</p>
    <p>Bank Search date: {{caseDetails.banksearchdate | date}}</p>
    <p>Bank Freezing date: {{caseDetails.bankfreezedata | date}}</p>
    <p>Bank Unfreezing date: {{caseDetails.bankunfreezedate | date}}</p>
    <p>Amount Received by CIC: {{caseDetails.cicamount }}BDT</p>
    <p>Amount Received by Field OFfice: {{caseDetails.fieldamount }}BDT</p>
    <p>Court Issue: {{caseDetails.courtissue}}</p>
    <p>Comment: {{caseDetails.comment}}</p>
</div>
