<div class="headerdiv">
    <h2>Case Details</h2>
  </div>

  <table mat-table [dataSource]="caseDetails" class="mat-elevation-z8">
  
    
      <!-- Position Column -->
      <ng-container matColumnDef="Serial">
        <th mat-header-cell *matHeaderCellDef> Serial </th>
        <td mat-cell  *matCellDef=" let i=index;"> {{(i+1)}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="taxpayername">
        <th mat-header-cell *matHeaderCellDef>Taxpayer Name</th>
        <td mat-cell *matCellDef="let element"> {{element.taxpayername}} </td>
      </ng-container>
    
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element;"> 
            <app-button
                [label]="buttonLabel"
                [color]="buttonColor" 
                [type]="buttonType"
                (click)="viewCaseDetails(element.taxcasedtlsuuid)">
            </app-button>

            <app-button style="margin-left: 10px;"
            [label]="buttonLabel3"
            [color]="buttonColor2" 
            [type]="buttonType"
            (click)="delete(element.taxcasedtlsuuid)">
        </app-button>
        </td>
      </ng-container>

  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    